:root {
  /* colors */
  --primary-color: #6ea4c4;
  --background-color: #EEE6DF;
  --text-color: #383736;
  --input-border: #988D7D;
  --input-background: rgba(236, 236, 236, 0.3);
  --shadow: #cdcecf;
  --button-active: #b3c0c9;
  --button-color: #f7fafc;
  --input-border-focus: #acc7d6;

  /* fonts */
  --zodiak: 'Zodiak', serif;
  --poppins: 'Poppins', sans-serif;
}

/* ==== resets ==== */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  font-family: var(--zodiak);
  font-size: 1.5rem;
  color: var(--text-color);
}


/* ==== sidebar ==== */
aside {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.sidebar_image {
  height: max(100vh, 50vh);
}

.sidebar_footer {
  position: absolute;
  width: 100%;
  font-size: 1.4rem;
  color: var(--button-color);
}


/* ==== header ==== */
.form_header {
  width: 75%;
  padding-bottom: 10px;
}

.form_header h2 {
  padding-top: 10px;
}


/* ==== main ==== */
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--background-color);
}

.form_info {
  margin: 5rem 0 5rem;
}

.user_full_name, 
.user_contact,
.user_password {
  display: flex;
  gap: 10rem;
}

.form_section {
  margin: 15rem;
}

.login, 
h2,
button, 
.form_info {
  font-family: var(--poppins);
}

.login, 
.desc_span, 
h2, 
.asterisk {
  color: var(--primary-color);
  font-weight: 800;
}

/* ==== form inputs and button ==== */
label {
  text-transform: uppercase;
  font-size: 1.3rem;
  display: block;
  margin-bottom: 4px;
}

input {
  -webkit-appearance: none;
  appearance: none;
  border-bottom: 1px solid var(--input-border);
  border-radius: 5px;
  width: 280px;
  height: 40px;
  padding: 10px;
  margin-bottom: 25px;
  background: var(--input-background);
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
}   

input:focus {
  box-shadow: 2px 2px 2px 1px var(--shadow);
  outline: none;
  border: 2px solid var(--input-border-focus);
  outline: none;
}

input:placeholder-shown {
  font-style: italic;
  font-size: 1.2rem;
  font-family: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

/* ==== check valid/invalid inputs ==== */
input:not(:focus):invalid {
  border-color: red;
}

input:not(:focus):invalid + .check::before{
  content: "✖";
  color: red;
  margin-left: -30px;
  visibility: visible;
}

input:not(:focus):not(:placeholder-shown):valid {
  border-color: green;
}

input:not(:focus):not(:placeholder-shown):valid + .check::before {
  content: "✔";
  color: green;
  margin-left: -30px;
  visibility: visible;
}

input[type="checkbox"]:not(:focus):not(:placeholder-shown):valid {
  border-color: var(--input-border);
}

.empty-fields {
  color: red;
}

input[type="password"] {
 margin-bottom: 5px;
}

.wrong-pwd {
  color: red;
  font-size: 1.2rem;
}

/* ==== button ==== */
button {
  background: var(--primary-color);
  padding: 13px 35px;
  font-size: 1.5rem;
  border-radius: 7px;
  cursor: pointer;
  margin-top: -20px;
  margin-bottom: 30px;
  color: var(--button-color);
  font-weight: 600;
  box-shadow: 5px 5px 5px 1px var(--shadow);
}    

button:hover {
  transform: translateY(-1px);
  box-shadow: 7px 7px 7px 1px var(--shadow);
}

button:active {
  background: var(--button-active);
  box-shadow: 1px 1px 1px 1px var(--shadow);
}

/* show password  */
.show_pwd, 
.show_confirm_pwd {
  cursor: pointer;
  margin-left: -30px;
}


/* ==== newsletter checkbox ==== */
.newsletter {
 display: flex;
 align-items: center;
 justify-content: flex-start;
 gap: 5px;
 margin-top: 25px;
}

input[type="checkbox"] {
  width: 1em;
  height: 1em;
  padding: 8px;
  border: 1px solid var(--input-border);
  margin: 0;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.67em;
  height: 0.67em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--input-border-focus);
  border-radius: 3px;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.newsletter label {
  text-transform: none;
}


/* ==== footer ==== */
footer {
  margin-top: auto;
  text-align: center;
  margin-bottom: 3rem;
}

.icon,
.link_credit,
footer em {
  color: var(--primary-color);
}